.home-menu {
  background: #2d3e50;

  .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
  }

  ul {
    float: right;
    padding: 5px;
  }
}


.content-wrapper {
  margin: 5em 3em;

  .notice {
    margin-bottom: 1em;
    padding: 0.8em;
    border: 1px solid orange;
    background: cornsilk;

    #close-notice {
      float: right;
      padding-right: 1em;
      cursor: pointer;
      color: orange;
    }
  }

  .button-success,
  .button-error,
  .button-warning,
  .button-primary {
      color: white !important;
      border-radius: 4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .button-success {
      background: rgb(28, 184, 65) !important;
  }

  .button-error {
      background: rgb(202, 60, 60) !important;
  }

  .button-warning {
      background: rgb(223, 117, 20) !important;
  }

  .button-primary {
      background: rgb(66, 184, 221) !important;
  }

  .pure-table {
    .pure-button {
      font-size: 70%;
    }
  }

  ul.list-unstyled {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  } 

  .pure-form {
    span.error {
      color: rgb(202, 60, 60);
      padding-left: 20px;
      font-size: 0.8em;
    }

    label.error {
      color: rgb(202, 60, 60);
      padding-left: 20px;
      font-size: 0.8em;
      width: 20em !important;
      text-align: left !important;
    }
  }

  #show-emails-form, #show-phones-form {
    margin-top: 1em
  }

  #phones-form, #emails-form {
    margin-top: 2em;
    input { 
      width: 7em;
    }
    label {
      width: 5em !important;
      .error {
        display: none;
      }
    }
    input[type=submit] {
      margin-top: 20px;
      margin-left: 5em;
    }
  }

  table.contacts {
    width: 80%;

    td:last-child {
      width: 100px;
    }
  }

  table.full-width {
    width: 90%;
    padding: 5%;

    td {
      padding: 5px;
    }

    td:last-child {
      width: 30px;

      a.pure-button {
        font-size: 70%;
      }
    }
  }

  .best_in_place {
    border-bottom: 1px #ccc dashed;
    cursor: pointer;
  }

  .is-center {
    text-align: center;
  }

  .hero-block {
    padding: 40px 30px;
    a.pure-button {
      font-size: 120%;
    }
  }
}
